.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#background-video {

  position: absolute;
  width: 100%;
  top: 50%;
  left: 50vw;
  height: 100%;
  object-fit:cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#background-video-div {
  background-color: black;
  
}

body {
  background-color: black;
}

#logo {
  font-family:Aeros;
  font-size: 3em;
}

@font-face {
  font-family: "Aeros";
  src: local("Aeros"),
    url("./fonts/Aeros.ttf") format("truetype");
  font-weight: normal;
}

.bar-button {
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.bar-div {
  
  padding:10px;
  margin-left: 2px;
  margin-right: 2px;
}

#bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

h4 {
  margin: 0px;
}

#page-button-cluster {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
}

#show-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1000px;
  padding-top: 200px;
}

#show-bar {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-bottom: white 1px solid;
}

h3 {
  color: white;
  width: 200px;
  font-family: 'Times New Roman', Times, serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 1.3rem;
}

#main-content {
  margin-top: 50px;
}

#socials-div {
  padding: 20px;
}

a {
  
}

.social-a {
  margin-left: 10px;
  margin-right: 10px;
}